@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

:root {
  --purple: #523d7f;
  --green: #c1dc56;
}

.custom-hr {
  margin: 0 auto;
  width: 10%;
  border: 1px solid var(--green);
}

.white-title {
  font-weight: 700;
  @apply text-4xl text-center mb-6 text-white;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  background: -webkit-linear-gradient(left, var(--purple), rgba(48,67,100,1));
  background: -o-linear-gradient(right, var(--purple), rgba(48,67,100,1));
  background: -moz-linear-gradient(right, var(--purple), rgba(48,67,100,1));
  background: linear-gradient(to right, var(--purple), rgba(48,67,100,1)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @apply container mx-auto px-5 text-4xl text-center mb-6;
}

.collapse-section {
  margin-top: 3rem;
}

.inside--collapse-title {
  background-color: var(--purple);
  font-size: 1.5rem;
  text-transform: uppercase;

  @apply flex items-center justify-between w-full py-7 px-10 font-medium text-left rounded-lg my-8 text-white;
}

#inside {
  @apply pt-24 pb-44;
}

#questions {
  background: rgb(82,61,127);
  background: linear-gradient(90deg, rgba(82,61,127,1) 0%, rgba(82,61,127,1) 30%, rgba(48,67,100,1) 100%);
  @apply pt-24 pb-32;
}

/* Collapse settings */

.collapse-section {
  @apply container mx-auto px-5;
}

.collapse-title {
  color: var(--purple);
  font-size: 1.5rem;
  @apply flex items-center justify-center w-full py-7 px-10 font-medium rounded-lg my-8 bg-white;
}

.testimonial-cards {
  @apply container mx-auto px-5 flex flex-col md:grid md:grid-cols-2 gap-4;
}

.testimonial-card {
  background-color: var(--purple);
  min-height: 350px;
  @apply flex-auto block p-6 rounded-lg border border-gray-200 shadow-md;

  h5 {
    @apply mb-2 text-2xl font-bold tracking-tight text-white dark:text-white
  }

  p {
    @apply font-normal text-gray-300 dark:text-gray-400;
  }
}