@tailwind base;
@tailwind components;
@tailwind utilities;

$c: rgb(221, 237, 157);

body {
  font-family: 'Poppins', sans-serif;
  background-attachment: fixed;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  @apply bg-header;
}

:root {
  --purple: #523d7f;
  --green: #c1dc56;
}

.custom-hr {
  margin: 0 auto;
  width: 10%;
  border: 1px solid var(--green);
}

.bold-hr {
  margin: 0 auto;
  width: 20%;
  border: 4px solid var(--green);
}

.white-title {
  @apply text-3xl text-center text-white;
}

.white-subtitle {
  font-weight: 400;
  @apply text-2xl text-center text-white;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  background: -webkit-linear-gradient(left, var(--purple), rgba(48,67,100,1));
  background: -o-linear-gradient(right, var(--purple), rgba(48,67,100,1));
  background: -moz-linear-gradient(right, var(--purple), rgba(48,67,100,1));
  background: linear-gradient(to right, var(--purple), rgba(48,67,100,1)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @apply container mx-auto px-5 text-4xl text-center mb-6;
}

.subscribe {
  display: inline-block;
  background-color: var(--green);
  color: var(--purple);
  max-width: fit-content;
  cursor: pointer;
	transition: 0.25s ease;
  @apply px-10 py-5 rounded-md uppercase font-medium;

  &:hover {
    box-shadow: 
      0 5px 5px -5px rgba($c, 0.15),
      0 10px 10px -5px rgba($c, 0.15),
      0 15px 15px -5px rgba($c, 0.15),
      0 20px 20px -5px rgba($c, 0.15);
  }
}

.collapse-section {
  margin-top: 3rem;
}

.inside--collapse-title {
  background-color: var(--purple);
  font-size: 1.5rem;
  text-transform: uppercase;

  @apply flex items-center justify-between w-full py-4 md:py-7 px-10 font-medium text-left rounded-lg my-4 md:my-8 text-white text-sm md:text-2xl;
}

// flex items-center justify-center w-full  px-10 font-medium rounded-lg  bg-white text-sm md:text-2xl

#inside {
  background-color: #fff;
  @apply pt-24 pb-44;
}

.inside {
  &--accordion-expanded {
    @apply p-5 font-light border border-gray-200 dark:border-gray-700 dark:bg-gray-900;
  }
}

#questions {
  background: rgb(82,61,127);
  background: linear-gradient(90deg, rgba(82,61,127,1) 0%, rgba(82,61,127,1) 30%, rgba(48,67,100,1) 100%);
  @apply pt-24 pb-32;
}

/* Collapse settings */

.collapse-section {
  @apply container mx-auto px-5;
}

.collapse-title {
  color: var(--purple);
  @apply flex items-center justify-center w-full py-4 md:py-7 px-10 font-medium rounded-lg my-4 md:my-8 bg-white text-sm md:text-2xl;
}

/* Testimonials */

.testimonial {
  padding: 2rem 0;

  &--cards {
    @apply container mx-auto px-5 flex flex-col md:grid md:grid-cols-2 gap-4;
  }

  &--card {
    background-color: var(--purple);
    min-height: 350px;
    @apply flex-auto block p-6 rounded-lg border border-gray-200 shadow-md;
  
    h5 {
      @apply mb-2 text-2xl font-bold tracking-tight text-white dark:text-white
    }
  
    p {
      @apply font-normal text-gray-300 dark:text-gray-400;
    }
  }
}

/* Why this Course */

.why {
  @apply flex flex-col justify-center align-middle pt-14;
  background: linear-gradient(90deg, rgba(21, 6, 54, 0.5) 0%, rgba(82,61,127,0.5) 30%, rgba(3, 15, 34, 0.5) 100%);

  &--description {
    background: rgb(82,61,127);
    background: linear-gradient(90deg, rgba(82,61,127,1) 8%, rgba(82,61,127,1) 48%, rgba(67,77,120,1) 100%);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
    @apply container max-w-[1000px] mx-auto mt-5 text-white rounded-2xl;

    p {
      @apply p-12 text-center rounded-sm;
    }

    b {
      @apply text-xl font-medium;
    }
  }
}


.about {
  &--section {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    @apply bg-about py-10;
  }

  &--wrapper {
    @apply flex flex-col lg:flex-row items-center lg:gap-12 px-8;
  }

  &--logo {
    position: relative;
    width: 100%;
    @apply pt-56 lg:py-56 max-w-[400px] lg:max-w-[800px];
  }

  &--description {
    height: 100%;
    @apply flex flex-col align-middle;

    p {
      color: var(--purple);
      @apply text-xl mb-4;
    }
  }
}

.footer {
  &--section {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    @apply bg-footer py-10;
  }

  &--wrapper {
    @apply container mx-auto flex flex-col lg:flex-row items-center lg:gap-12 text-center px-8;

    .about--logo {
      @apply pb-0 lg:py-[14rem] px-4 lg:px-0 max-w-[400px] lg:max-w-[800px];
    }
  }
}

.header {
  &--section {
    @apply pt-10 pb-48;
  }

  &--wrapper {
    @apply flex flex-col justify-center items-center gap-12;
  }

  &--logo {
    position: relative;
    width: 100%;
    max-width: 400px;
    max-height: 100px;
  }

  &--heading {
    color: var(--purple);
    text-align: center;

    h1,
    h2 {
      font-size: 2rem;
    }

    h2 {
      @apply font-bold;
    }

    p {
      @apply text-2xl;
    }
  }
}

.version {
  &--section {
    background: rgb(82,61,127);
    background-image: url('/bg-version.png'), linear-gradient(90deg, rgba(82,61,127,1) 0%, rgba(82,61,127,1) 30%, rgba(48,67,100,1) 100%);
    background-repeat: no-repeat;
    background-position: bottom;
    @apply py-28;
  }

  &--wrapper {
    @apply flex flex-col justify-center items-center gap-12;

    h3,
    p {
      @apply text-white;
    }

    h3 {
      @apply text-3xl font-semibold mb-6;
    }

    p {
      @apply text-lg md:mb-24;
    }
  }

  &--image {
    position: relative;
    width: 100%;
    max-width: 700px;
  }
}

.checkout {
  &--wrapper {
    @apply flex flex-col items-center;
  }

  &--image {
    position: relative;
    width: 100%;
    max-width: 800px;
  }
}

.wrapper {
  @apply flex flex-col items-center gap-4;
}

.approach-text {
  color: var(--purple);
  @apply text-xl rounded-3xl border-solid border border-slate-300 p-8 text-center shadow-xl;
}

.practice {
  @apply flex flex-col;
  
  p {
    width: 100%;
    @apply text-xl;
  }
}

.swiper {
  padding-bottom: 2rem!important;
}

.swiper-pagination {
  bottom: 0!important;
}

.course {
  &--section {
    -webkit-box-shadow: 0px -70px 37px 35px #523d7f;
    box-shadow: 0px -70px 37px 35px #523d7f;
    background-image: url('/bg-version.png'), linear-gradient(0deg, rgba(67,77,120,1) 0%, rgba(82,61,127,1) 50%, rgba(82,61,127,1) 80%, rgba(82,61,127,1) 100%);
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
    @apply pb-28;
  }

  &--box-wrapper {
    z-index: 2;
    @apply flex flex-col gap-4 mt-16;
  }
}

.course--box {
  position: relative;
  width: 100%;
  max-width: 900px;
  background-image: linear-gradient(#4e3f7c, #37496a);
  color: #fff;
  padding: 2rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  border-radius: 0.5rem;
}

.even::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 43.08%, #000000 99.99%);
  filter: blur(20px);
  width: 60%;
  height: 30%;
  bottom: -4px;
  right: -1px;
  z-index: -1;
}

.odd::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #000000 0%, #000000 43.08%, rgba(0, 0, 0, 0) 99.99%);
  filter: blur(20px);
  width: 60%;
  height: 30%;
  bottom: -6px;
  left: 3px;
  z-index: -1;
}

.question--answer {
  @apply p-5 font-light border rounded-lg border-gray-400 dark:border-gray-700 dark:bg-gray-900 text-white;

  p {
    @apply md:text-xl mb-4;
  }
}